<%= form_for(@clause) do |f| %>
  <% if @clause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clause.errors.count, "error") %> prohibited this clause from being saved:</h2>

      <ul>
      <% @clause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dispute_id %><br>
    <%= f.number_field :dispute_id %>
  </div>
  <div class="field">
    <%= f.label :clause_text %><br>
    <%= f.text_field :clause_text %>
  </div>
  <div class="field">
    <%= f.label :clause_status %><br>
    <%= f.text_field :clause_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
